@keyframes verping-background {
  16% {
    background-position: 100% 100%;
  }

  32% {
    background-position: 60% 60%;
  }

  48% {
    background-position: 80% 80%;
  }

  64% {
    background-position: 20% 20%;
  }

  80% {
    background-position: 40% 40%;
  }

  100% {
    background-position: 0% 0%;
  }
}
