// GOOGLE FONTS.
@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@400;600;800&display=swap");

// CUSTOM PROPERTIES.
:root {
  --light-weight: 400;
  --medium-weight: 600;
  --heavy-weight: 800;

  --p-size: 1.563rem;
  --h3-size: 2.441rem;
  --h2-size: 3.052rem;
  --h1-size: 3.815rem;

  --default-height: 1;
  --heading-height: 1.2;
  --paragraph-height: 1.6;

  --font-family: "Moderustic", sans-serif;

  --neutral-color-1: hsl(0, 0%, 0%);
  --neutral-color-2: hsl(0, 0%, 100%);

  --focus-color: hsla(0, 0%, 50%, 0.75);
  --focus-shadow: inset 0 0 0 2.5px var(--focus-color);

  --primary-gradient: linear-gradient(to bottom right, #ff4b1f, #1fddff);

  --padding-value: 8%;

  @include respond-to("700px") {
    --padding-value: 6%;
  }

  @include respond-to("1300px") {
    --padding-value: 4%;
  }

  @include respond-to("1900px") {
    --padding-value: 3%;
  }

  --horizontal-space: 3rem;

  --vertical-space-xs: 1rem;
  --vertical-space-s: 2rem;
  --vertical-space-m: 3rem;

  --transition-values: 0.25s ease-out;
}

// RESET RULESETS.
*,
*::before,
*::after {
  font: inherit;
  color: inherit;
  box-sizing: inherit;

  padding: 0;
  margin: 0;
}

*:focus {
  box-shadow: var(--focus-shadow);

  transition: box-shadow var(--transition-values);
}

*::selection {
  background: var(--focus-color);
}

html {
  font-size: 62.5%;

  @include respond-to("500px") {
    font-size: 75%;
  }

  @include respond-to("700px") {
    font-size: 87.5%;
  }

  @include respond-to("1000px") {
    font-size: 100%;
  }

  @include respond-to("1600px") {
    font-size: 112.5%;
  }

  @include respond-to("2200px") {
    font-size: 125%;
  }

  scroll-behavior: smooth;
}

body {
  color: var(--neutral-color-2);

  // FIXME | TESTING PURPOUSES.
  line-height: 1;

  box-sizing: border-box;
}

input,
textarea,
button {
  appearance: none;
}
