.u-section-padding {
  padding: var(--padding-value) !important;
}

.u-margin-bottom-xs {
  margin-bottom: var(--vertical-space-xs) !important;
}

.u-margin-bottom-s {
  margin-bottom: var(--vertical-space-s) !important;
}

.u-margin-bottom-m {
  margin-bottom: var(--vertical-space-m) !important;
}
