@import "../../../sass/abstracts/mixins";

.posts {
  background: var(--neutral-color-1);

  &Fieldset {
    width: 85%;
    border: none;
  }

  &InputWrapper {
    position: relative;
  }

  &Label {
    @include absolute-position(50%, 1%, initial, initial);
    transform: translateY(-50%);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &Input {
    font: var(--medium-weight) var(--p-size) / var(--paragraph-height)
      var(--font-family);

    color: var(--neutral-color-2);
    background: none;

    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    border-bottom: 2px solid var(--neutral-color-2);

    &::placeholder {
      color: var(--focus-color);
    }
  }

  &Grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
  }
  &Article {
    color: var(--neutral-color-1);
    background: var(--neutral-color-2);

    padding: 2rem;
  }

  &Username {
    font: var(--medium-weight) var(--p-size) / var(--default-height)
      var(--font-family);

    color: var(--focus-color);

    display: block;
  }
}
